<form [formGroup]="formOption">
  <select id="select" name="select" class="form-control" size="1" (change)="onSelectType($event.target)">
    <option
      id="scheduleTypes_{{scheduleType.value.id}}"
      *ngFor="let scheduleType of scheduleTypes.controls; index as i"
      [value]="scheduleType.value.id">{{scheduleType.value.name}}
  </option>
  </select>
</form>